.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#effectivePermissions, .file {
    padding: 1rem;

}
.effective_perm_name{
    padding: .1rem;
}




#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-content {
    padding: 4px;
}

#permdialog_file_user_list {
    padding: 10px 0px;
}

#permdialog_grouped_permissions_header {
    text-align: left;
    margin: 5px 5px 5px 10px;
}

#permdialog_grouped_permissions_header_p {
    width: 70%;
}

#permissions_user_title {
    font-weight: bold;
}

#perm_add_user_button {
    padding: 6px;
    margin: 6px 0px;
    font-size: 0.8em;
}

#perm_remove_user {
    padding: 6px;
    margin: 6px;
    font-size: 0.8em;
}

#permdialog_advanced_explantion_text {
    font-style: italic;
    font-size: 0.8em;
}